<div class="row no-gutters admin-container" *ngIf="!flagHasCompany">
  <div class="col panel p-30 txt-center">

    <p style="font-weight: bold">Por favor selecione um cliente</p>

  </div>
</div>

<div class="row no-gutters admin-container" *ngIf="flagHasCompany">
  <div class="col col-3 panel">

    <div class="row">
      <div class="col p-t-20 text-center">

        <button
          routerLink="/admin/eventos"
          class="btn btn-secondary"
          style="width: 50%"
        >
          Listagem
        </button>

      </div>
    </div>

    <div class="row">
      <div class="col p-t-20 text-center">

        <button
          routerLink="/admin/eventos/novo"
          class="btn btn-primary"
          style="width: 50%"
        >
          Incluir Novo
        </button>

      </div>
    </div>

  </div>

  <div class="col col-9 panel">

    <router-outlet></router-outlet>

  </div>

</div>
